/* html, */
/* body { */
/*     height: 100%; */
/* } */

#root {
  width: 100%;
  height: 100%;
}

.filter {
  position: sticky;
  top: 0;
  background-color: white;

  padding: 4px;
}

.filter > button {
  margin-right: 4px;
}

.word {
  transition: 300ms;
  padding: 8px 16px;
  border: 1px solid transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffe8e8;
}

.word:first-child {
  border-top: 1px solid transparent;
}

.word:last-child {
  border-top: 1px solid #ffe8e8;
}

.word > div > p {
  font-size: 18px;
  display: inline-block;
  padding-right: 12px;
}

.word > div > span {
  font-size: 10px;
  font-weight: 600;
}

.word > div > button {
  margin-left: 4px;
}

.word:hover {
  border: 1px solid #e2f4fb;
  background-color: #e2f4fb;
  border-radius: 4px;
  border-top: 1px solid transparent;
}

.word:hover + .word {
  border-top: 1px solid transparent;
}

.prev-state-underline::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 20%;
  right: 20%;
  height: 1px;
  @apply bg-sky-400;
}
